@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fundo.png);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-login{
    height: 78%;
    width: 752px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    gap: 30px;
    position: fixed;
}
.titulo-login{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.inps-login{
    width: 100%;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    color: white;
    align-items: end;
}
.inps-login a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.inps-login a:hover{
    color: white;
    text-decoration: underline;
}
.inps-login input{
    height: 60px;
    width: 676px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.inps-login input:focus{
    outline: none;
}
.inps-login input::placeholder{
    color: white;
}
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.input-box i {
    position: absolute;
    left: 30px; 
    font-size: 30px;
    color: white;
    top: 22px;
}

.input-box input {
    height: 60px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 80px;
    color: white;
    font-family: "Montserrat";  
}
.input-box input::placeholder {
    color: white;
}
.input-box:focus{
    border: none;
}
.enviar-login{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.enviar-login input{
    font-family: "Montserrat";
    font-weight: 700;
    height: 84px;
    width: 346px;
    font-size: 30px;
    background-color: #C8000C;
    border: 1.5px solid white;
    border-radius: 10px;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.enviar-login input:hover{
    background-color: #9A1915;
    transform: scale(1.02);
}
.conect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.conect button{
    width: 45%;
    height: 40px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.conect i{
    font-size: 20px;
}
